argparse>=1.1
redis>=2.10.6
pymongo>=4.1.1
gevent>=21.12.0
ujson>=1.35
psutil>=5.9.1
objgraph>=3.5.0
termcolor>=1.1.0
subprocess32>=3.2.7; python_version < '3.2' and sys.platform != "win32"
importlib>=1.0.3; python_version < '2.7'
